<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fab fa-jedi-order fa-6x"></i>
    <h1 class="display-3 home-page">Secrets</h1>
    <p class="lead home-page">Don't keep your secrets, share them anonymously!</p>
    <hr class="hr-style">
    <a class="btn btn-light btn-lg" href="/register" role="button"><i class="fas fa-pen-fancy fa-2px"></i> Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button"><i class="fas fa-fingerprint fa-2px"></i> Login</a>

  </div>
</div>

<%- include('partials/footer') %>
