<%- include('partials/header') %>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-user-secret fa-6x"></i>
    <h1 class="display-3 secrets-header">You've Discovered The Secret!</h1>
    <p class="secret-text">The Answer to the Ultimate Question of Life, the Universe, and Everything is 42!</p>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%= user.secret %></p>
    <% }) %>

    <hr class="hr-style">
    <div class="container-secret">
        <img src="/images/milky-way.png" alt="galaxy-img">
        <img src="/images/milky-way.png" alt="galaxy-img">
        <img src="/images/milky-way.png" alt="galaxy-img">
        <img src="/images/milky-way.png" alt="galaxy-img">
    </div>


    <a class="btn btn-light btn-lg" href="/logout" role="button"><i class="fas fa-sign-out-alt fa-2px"></i> Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"><i class="fas fa-paper-plane fa-2px"></i> Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
